.formContainer {
  width: 50vw;
  display: flex;
  flex-direction: column;
  padding-top: 10px;
}

input {
  width: 60%;
  padding: 10px;
  border-radius: 20px;
  border: none;
}

input:focus {
  outline-color: rgb(30, 144, 255);
}

button {
  border: none;
  cursor: pointer;
  padding-top: 10px;
  padding-bottom: 8px;
  border-radius: 20px;
  margin: 0px 5px;
  font: inherit;
  font-size: 12px;
  transition-duration: 0.4s;
}

button:hover {
  background-color: rgb(179, 213, 213);
  transition: 0.7s;
}

@media (max-width: 768px) {
  .formContainer {
    width: 70vw;
  }
}

@media only screen and (max-width: 375px) {
  .formContainer {
    width: 80vw;
  }

  .formContainer button {
    font-size: 10px;
    width: 28%;
  }

  input {
    margin-left: 29px;
    width: 40%;
  }
}
