.App {
  min-height: 100vh;
}

h1 {
  color: white;
  text-align: center;
}

.container {
  background: linear-gradient(to right, #11998e, #38ef7d);
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 80vh;
  width: 70vw;
  border: 1px solid grey;
  padding: 20px;
  font-size: 20px;
  color: white;
  border-radius: 3px;
}

@media (max-width: 375px) {
  .container {
    width: 67vw;
    height: 100%;
  }
}
